<h1>About this guest...</h1>

<p>Name: <%= @guest.name %></p>
<p>Occupation: <%= @guest.occupation %></p>
<p>Episodes: </p>
<ul>
    <% @guest.episodes.each do |episode| %>
    <li>Date: <%= link_to episode.date, episode_path(episode) %></li>
        <% episode.appearances.each do |appearance| %>
        <li>Rating: <%= appearance.rating %></li><br>
        <% end %>
    <% end %>
</ul>