<h1>All Appearances</h1>

<ul>
  <% @appearances.each do |appearance| %>
    <li>Episode: <%= (appearance.episode.number) %></li>
    <li>Guest: <%= (appearance.guest.name) %></li>
    <li>Rating: <%= (appearance.rating) %></li><br>
  <% end %>
</ul>